:root{
    --fonte: 'Inter', san-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
    background: linear-gradient(to bottom right, #712ce7, #7310ca, #6510c5, #6b0db8, #33065e) fixed;
}

.nome{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin: 2em 0;
    font-family: var(--fonte);
    letter-spacing: 5px;
}

.nome h3{
    color: rgb(95, 38, 228);
    margin-bottom: 10px;
}

.calculadora{
    border: solid 2px black;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 23em;
    padding: 1em 0;
    background-color: rgb(24, 23, 23);
    box-shadow: #8d8c8c 0px 0px 50px 2px;
}

.visor{
    margin-bottom:1em;
    width: 10.5em;
    height: 4em;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    background-color: rgb(24, 23, 23);
    text-align: right;
    font-size: 32px;
    display: flex;
    justify-content: center;
    letter-spacing: 8px;
}

.visor:focus{
    outline: none;
}

.buttons{
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.button{
    width: 5em;
    height: 3.5em;
    margin: 4px 1px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(44, 43, 43);
    color: #ffffff;
    font-weight: bold;
}

.button:hover{
    background-color: rgb(68, 66, 66);
}

.button:active{
    transform: scale(0.98);
    background-color: rgb(48, 47, 47);
    color: #807a7a;
}

.btn_igual,
.C,
.zero{
    width: 10.3em;
}

.btn_igual,
.C{
    background-color: rgb(95, 38, 228);
}

.btn_igual:active,
.C:active{
    background-color: rgb(102, 46, 233);
}

.btn_igual:hover,
.C:hover{
    background-color: rgb(112, 60, 231);
}
